<h1> Let's get started </h1>
<button mat-raised-button routerLink="/upload-video"> Existing Video </button>
<button mat-raised-button routerLink="/stream-video"> New Video </button>


<!-- <div class="container">
  <mat-form-field>
    <input matInput placeholder="Input">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
</div>
 -->